h1{
    text-align: center;
    color: aqua;
    background-color: darkkhaki;
}
body{
    background-image: url("../images/%E3%83%80%E3%82%A6%E3%83%B3%E3%83%AD%E3%83%BC%E3%83%89%20(1).jfif");
    
}
h2{
    text-align: center;
    color: aquamarine;
    background-color: darkorange;
}

h3{
    color: darkred;
}

p{
    color: darkblue;
}